<!DOCTYPE html>
<html>
<head>
	<title>Let's Use EJS</title>
</head>
<body>
	<h1>What is the date and time?</h1>

	<!-- use = when nothing is changing for this function -->
	<!-- use something else for a whole js file -->
	<p>The time now is: <%= new Date() %> </p>

</body>
</html>